*.headertitle { text-align: right; float: right;
	

}

.headerlogo{text-align:left; float: left;}
h1 {text-align: left; display: flex; font-size: 50px; font-family: 'Modern Antiqua', cursive;}
* .mainimage{text-align: center;}
*{}
* .centerwrap{position: absolute; width: 960px; }
h2 {text-decoration: underline;}
h3 {font-size: 45px; font-family: 'Roboto Slab', serif;}
hr { border-width: 2px;}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;

}

 .row{width: 100%; display: flex;}
.col-1{width: 8.33%}
.col-2{width: 16.66%}
.col-3{width: 25%}
.col-4{width: 33.3%}
.col-5{width: 41.6%}
.col-6{width: 50%}
.col-7{width: 58.3%}
.col-8{width: 66.6%}
.col-9{width: 75%}
.col-10{width: 83.3%} 
.col-11{width: 91.6%}
.col-12{width: 100%}

